<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"/>

       <!-- bean definitions here -->
       <bean id="emailClient" class="com.enigma.springlearn.EmailClient">
            <constructor-arg ref="basicChecker"/>
       </bean>

       <bean id="basicChecker" class="com.enigma.springlearn.BasicChecker">
       </bean>
</beans>